@model NvlLesson07.Models.NvlEmployee


@{
    ViewData["Title"] = "NvlDelete";
}


<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NvlEmployee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NvlId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NvlId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NvlName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NvlName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NvlBirthDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NvlBirthDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NvlEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NvlEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NvlPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NvlPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NvlSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NvlSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NvlStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NvlStatus)
        </dd>
    </dl>
    
    <form asp-action="NvlDelete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
