@model IEnumerable<Nvllesson08.Models.NvlAccount>

@{
    ViewData["Title"] = "NvlIndex";
}

<h1>NvlIndex</h1>

<p>
    <a asp-action="NvlCreate" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NvlId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NvlFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NvlEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NvlPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NvlAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NvlAvatar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NvlBirthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NvlGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NvlPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NvlFacebook)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NvlId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NvlFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NvlEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NvlPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NvlAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NvlAvatar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NvlBirthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NvlGender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NvlPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NvlFacebook)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>